

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
  --font-family-sans-serif: Helvetica, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin-left: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.navbar-brand {
  font-size: 14px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.artifacts-table {
  width: 90%;
  margin-left: 15px;
}

.artifacts-submit-form-div {
	background-color: black;
	color: white;
	padding: 20px;
}

.team-div {
  color: white;
  padding: 20px;
  height: 600px;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin-left:10em;
  margin-right: 30em;
}

.AB-div {
  background-color: #002F5F;
}

.AD-div {
  background-color: #C21F26;
}

.BO-div {
  background-color: #ED4C09;
}

.BRS-div {
  background-color: #C60C30;
}

.CC-div {
  background-color: #002F6C;
}

.CWS-div {
  background-color: #000000;
}

.CI-div {
  background-color: #CC0000;
}

.CLR-div {
  background-color: #4A3C7D;
}

.CR-div {
  background-color: #CC0000;
}

.DT-div {
  background-color: #fcfc3a;
  color: black;
}

.HA-div {
  background-color: #072854;
}

.KCR-div {
  background-color: #15317E;
}

.LAA-div {
  background-color: #B71234;
}

.LAD-div {
  background-color: #083C6B;
}

.MB-div {
  background-color: #182B49;
}

.MM-div {
  background-color: #009DD6;
}

.MT-div {
  background-color: #072754;
}

.NYM-div {
  background-color: #002C77;
}

.NYY-div {
  background-color: #0C2340;
}

.OA-div {
  background-color: #003831;
}

.PBP-div {
  background-color: #FFFF00;
}

.PP-div {
  background-color: #BA0C2F;
}

.SDP-div {
  background-color: #003366;
}

.SFG-div {
  background-color: #F2552C;
}

.SLC-div {
  background-color: #CC0000;
}

.SM-div {
  background-color: #0C2C56;
}

.TBJ-div {
  background-color: #003DA5;
}

.TBR-div {
  background-color: #00285D;
}

.TR-div {
  background-color: #003279;
}

.WN-div {
  background-color: #BA122B;
}