

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
  --font-family-sans-serif: Helvetica, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin-left: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.navbar-brand {
  font-size: 14px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.artifacts-table {
  width: 90%;
  margin-left: 15px;
}

.artifacts-submit-form-div {
	background-color: black;
	color: white;
	padding: 20px;
}

.team-div {
  color: white;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  margin-left:10em;
  margin-right: 30em;
}

.ARI-div {
  background-color: #C21F26;
}

.ATL-div {
  background-color: #002F5F;
}

.BAL-div {
  background-color: #ED4C09;
}

.BOS-div {
  background-color: #C60C30;
}

.CHC-div {
  background-color: #002F6C;
}

.CWS-div {
  background-color: #000000;
}

.CLE-div {
  background-color: #CC0000;
}

.COL-div {
  background-color: #4A3C7D;
}

.CIN-div {
  background-color: #CC0000;
}

.DET-div {
  background-color: #002144;
}

.HOU-div {
  background-color: #072854;
}

.KAN-div {
  background-color: #15317E;
}

.LAA-div {
  background-color: #B71234;
}

.LAD-div {
  background-color: #083C6B;
}

.MIA-div {
  background-color: #009DD6;
}

.MIL-div {
  background-color: #182B49;
}

.MIN-div {
  background-color: #072754;
}

.NYM-div {
  background-color: #002C77;
}

.NYY-div {
  background-color: #0C2340;
}

.OAK-div {
  background-color: #003831;
}

.PHI-div {
  background-color: #BA0C2F;
}

.PIT-div {
  background-color: #FDB827;
}

.SDP-div {
  background-color: #473729;
}

.SFG-div {
  background-color: #F2552C;
}

.STL-div {
  background-color: #CC0000;
}

.SEA-div {
  background-color: #0C2C56;
}

.TOR-div {
  background-color: #003DA5;
}

.TAM-div {
  background-color: #00285D;
}

.TEX-div {
  background-color: #003279;
}

.WSH-div {
  background-color: #BA122B;
}

.previous-teams-div {
  width: 500px;
}

.stats-table {
  color: white;
  padding-top: 10px;
}

.stats-table th {
  font-weight: 400;
}

.stats-table thead th,
.stats-table td {
  border: none;
  padding: 0.35rem;
  line-height: 10px;
}

#map {
  height: 200px;
  width: 80%;
}

.w-15 {
  width: 15% !important;
}

.w-33 {
  width: 33% !important;
}